{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container yo1 shadow p-5">
    <div class="row">
      <div class="col-md-12">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="EmployeeSignupForm" id="employee_signup_form" method="post" action="{% url 'employee_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  <br>
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
<br>
</div>
</div>
</div>
<br>
<br>
{% endblock %}
