<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h2>Thumbnail- <img src="{{post.thumbnail.url}}" alt=""> </h2> <br>
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{post.body_text|safe}}</p>
    </div>
    <br>
    
    <h3>Author Name - {{post_author}}</h3>
    <br> <br>
    <div class="pt-5">
        <div class="section-title">
          <h2 class="mb-5">Comments</h2>
        </div>
        {% if user.is_authenticated %}
        <ul class="comment-list">
          {% for cm in comments %}
          <li class="comment">
            <div class="vcard bio">
              <img src="" alt="Image placeholder">
            </div>
            <div class="comment-body">
              <h3>{{cm.0.user.username}}</h3>
              <div class="meta">{{cm.0.time}}</div>
              <p>{{cm.0.comm}}</p>
              <p id="{{cm.0.id}}"><button onclick="ReplyForm('{{cm.0.id}}')" class="reply">Reply</button></p>
            </div>

            <ul class="children">
              {% for subc in cm.1 %}
              <li class="comment">
                <div class="vcard bio">
                  <img src="" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>{{subc.user.username}}</h3>
                  <div class="meta">{{subc.time}}</div>
                  <p>{{subc.comm}}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}        
        </ul>
        <!-- END comment-list -->
        <script type="text/javascript">
          function ReplyForm(id) {
            let elm = `<form method="POST" class="p-5 bg-light">
                        {% csrf_token %}
            <div class="form-group">
            <input type='text' value='${id}' name = 'comm_id' style="display:none;" readonly/>
              <label for="message">Comment</label>
              <textarea name="comm" id="message" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Post Comment" class="btn btn-primary py-3">
            </div>

          </form>`;
          document.getElementById(id).innerHTML = elm;
          }
        </script>

        <div class="comment-form-wrap pt-5">
          <div class="section-title">
            <h2 class="mb-5">Leave a comment</h2>
          </div>
          <form method="POST" class="p-5 bg-light">
            {% csrf_token %}
            <div class="form-group">
              <label for="message">Comment</label>
              <textarea name="comm" id="message" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Post Comment" class="btn btn-primary py-3">
            </div>

          </form>
        </div>
        {% else %}
        <li><a href="{% url 'login' %}" class="nav-link text-right text-info">Sign In</a></li>
        <li><a href="{% url 'signup' %}" class="nav-link text-right text-info">Sign Up</a></li>
        {% endif %}
      </div>
</body>
</html>