<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        {% if messages %}
        {% for message in messages %}
          <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% endfor %}
        {%else%}
        <p>No messages</p>
        {% endif %}
    </div>
    <h2>User ID: {{customer.id}}</h2>
    <h3>Gender: {{customer.gender}}</h3>
    <h3>Skin Tone: {{customer.skintone}}</h3>
    <h3>Height: {{customer.height}}</h3>
    <h3>Weight: {{customer.weight}}</h3>
    <h3>Hair Colors: {{customer.haircolors}}</h3>
    <h3>Mobile Number: {{customer.mobno}}</h3>
    <h3>Age: {{customer.age}}</h3>
    <h4>Your Current Saved Location: {{location}}</h4>
</body>
</html>