{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
  <div>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
        {% elif message.tags == 'info'%}
            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% elif message.tags == 'warning'%}
            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
        {% elif message.tags == 'error'%}
            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
        {%else%}
        <p>No messages</p>
        {% endif %}
    </div>
<!-- Card -->

{% for item in trend %}
<div class="col-lg-4 col-md-6" style="padding: 20px!important">
        <div class="movie_col ">
            <div class="card">
                <img class="card-img-top" style="height: 15rem!important" src="{{item.image}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Brand: {{item.brand}}</li>
                  <!--  <li class="list-group-item">Material: cotton</li>-->
                   <!-- <li class="list-group-item">size: <a href="{{dict_item.album_url}}">XL</a> </li>-->
                </ul>
                <div class="card-body">
                    <a href="{{item.url}}" target="_blank" class="card-link">Buy Now</a>
                </div>
            </div>
        </div>
        </div>
        
{% endfor %}

{% if user.is_authenticated %}
<form method="POST">
  {%csrf_token%}
  <div class="form-group">
    <label for="exampleInputEmail1">Feedback</label>
    <input type="text" name="feed" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Give us a feedback">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%else%}
<p>Login/Signup to Feedback</p>
<a class="btn" href="login">Login In</a>
<a class="btn" href="register">Sign Up</a>
{%endif%}


</body>
</html>