<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Your List of Blogs -</h1> 
    {% for post in posts%}
    <h2>{{post.title}}</h2>
    <a href="{% url 'post' post.id post.slug %}">Visit Post!</a>
    <h4>Publish Status - {{post.publish}}</h4>
    <a href="{% url 'editblog' post.id %}">Edit This Blog!</a>
    <a href="{% url 'deleteblog' post.id %}">Delete Blog!</a>
    <a href="{% url 'handlecomments' post.id %}">Handle Comments!</a>
    {%endfor%}
</body>
</html>